<span class="bckg"></span>
<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <h1>Dashboard</h1>
    <nav>
        <ul>
        <li>
            <a href="javascript:void(0);" data-title="Projects">Projects</a>
        </li>
        <li>
            <a href="javascript:void(0);" data-title="Team">Team</a>
        </li>
        <li>
            <a href="javascript:void(0);" data-title="Diary">Diary</a>
        </li>
        <li>
            <a href="javascript:void(0);" data-title="Timeline">Timeline</a>
        </li>
        <li>
            <a href="javascript:void(0);" data-title="Settings">Settings</a>
        </li>
        <li>
            <a href="javascript:void(0);" data-title="Search">Search</a>
        </li>
        </ul>
    </nav>
</header>
<main>
    <head>
        <link rel="stylesheet" type="text/css" href="/public/css/dashboard.css">
        <!-- Other meta tags, title, or other head elements -->
    </head>
  <div class="title">
    <h2>Projects</h2>
    <a href="javascript:void(0);">Hello Bob !</a>
  </div>

  <article class="larg">
    <div>
        <h3><span class="icon-text">Project 1</span><i class="fas fa-chevron-down"></i></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus iste quia incidunt ad provident ullam quo assumenda expedita quae sapiente ipsa qui esse similique! Modi obcaecati natus sapiente quaerat omnis.</p>
    </div>
    <div>
        <h3><span class="icon-text">Project 2</span><i class="fas fa-chevron-down"></i></h3>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus iste quia incidunt ad provident ullam quo assumenda expedita quae sapiente ipsa qui esse similique! Modi obcaecati natus sapiente quaerat omnis.</p>
    </div>
    <div>
        <h3><span class="icon-text">Project 3</span><i class="fas fa-chevron-down"></i></h3>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus iste quia incidunt ad provident ullam quo assumenda expedita quae sapiente ipsa qui esse similique! Modi obcaecati natus sapiente quaerat omnis.</p>
    </div>
  </article>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="dashboard.js"></script>
</main>